# ================= Node =================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# ================= Env =================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ================= Build / Output =================
dist/
build/
out/
coverage/

# ================= OS / IDE =================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ================= Logs =================
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# ================= React =================
*.cache
.cache/
*.next/
.next/
public/build/
public/static/

# ================= Others =================
*.tgz
*.bak
*.swp